.main {
	background-color: var(--background-primary);
}

.hero {
	/* Base styles for mobile first approach */
	padding: 1rem;
	width: 100%;
	/* max-width: 90%; */
	margin: 0 auto;
	text-align: center;
	/* Add padding-top to account for navbar */
	padding-top: calc(64px + 2.75rem);
	background-image: url('/images/lightbulb.jpeg');
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* If you want to center it slightly above true center */
	transform: translateY(-5%);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 50vh;
}

.title {
	font-size: clamp(2rem, 5vw, 4rem);
	margin-bottom: 1rem;
	color: var(--accent-600);
	max-width: 90%;
}

.subtitle {
	font-size: clamp(1.2rem, 3vw, 2rem);
	margin-bottom: 2rem;
	color: var(--neutral-200);
	max-width: 90%;
}

/* Tablet devices */
@media screen and (min-width: 768px) {
	.hero {
		padding: 2rem;
		padding-top: calc(64px + 4rem);
		min-height: 60vh;
	}
}

/* Desktop devices */
@media screen and (min-width: 1024px) {
	.hero {
		padding: 3rem;
		padding-top: calc(64px + 5rem);
	}

	.title {
		/* font-size: clamp(4rem, 5vw, 4rem); */
		font-weight: 900;
	}

	.tibeb {
		color: var(--neutral-200);
		font-weight: 900;
	}

	.subtitle {
		max-width: 70%;
	}
}

/* Large desktop devices */
@media screen and (min-width: 1440px) {
	.hero {
		padding: 4rem;
		padding-top: calc(64px + 7rem);
	}
}

.section {
	width: 90%;
	margin: 0 auto;
}

.pillars {
	width: 85%;
	margin: 0 auto;
}

.documentContent {
	margin-bottom: 20px;
}

.sectionTitle {
	font-size: 1.2rem;
	font-weight: bold;
	margin-bottom: 0.5rem;
}

.paragraph {
	margin-bottom: 0.5rem;
	color: var(--text-primary);
	font-weight: 500;
	font-size: 1.2rem;
}
